@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Add dark mode support */
.dark {
  color-scheme: dark;
}



.clip-polygon {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease;
}


